.spritemap_aanaup {
	DISPLAY: inline-block; BACKGROUND-IMAGE: url(http://b.static.ak.fbcdn.net/rsrc.php/zS/r/SoE4jDlkVx3.png); WIDTH: 16px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 16px
}
.sx_58594b {
	BACKGROUND-POSITION: 0px 0px; WIDTH: 190px; HEIGHT: 90px
}
.sx_6a64d7 {
	BACKGROUND-POSITION: -57px -147px; WIDTH: 15px; HEIGHT: 13px
}
.sx_cf40e5 {
	BACKGROUND-POSITION: -102px -183px
}
.sx_68e75f {
	BACKGROUND-POSITION: -102px -200px; HEIGHT: 15px
}
.sx_b36bcb {
	BACKGROUND-POSITION: -106px -147px; WIDTH: 9px; HEIGHT: 5px
}
.sx_dc87dc {
	BACKGROUND-POSITION: -17px -200px
}
.sx_069290 {
	BACKGROUND-POSITION: -34px -200px
}
.sx_180514 {
	BACKGROUND-POSITION: -68px -200px
}
.sx_6c3783 {
	BACKGROUND-POSITION: -171px -106px; WIDTH: 17px; HEIGHT: 17px
}
.sx_04e865 {
	BACKGROUND-POSITION: 0px -162px; WIDTH: 20px; HEIGHT: 20px
}
.sx_eb5359 {
	BACKGROUND-POSITION: -73px -147px; WIDTH: 9px; HEIGHT: 12px
}
.sx_5a7ea7 {
	BACKGROUND-POSITION: -51px -200px
}
.sx_535a9b {
	BACKGROUND-POSITION: -55px -162px; HEIGHT: 17px
}
.sx_d5a8c3 {
	BACKGROUND-POSITION: -171px -124px; WIDTH: 5px; HEIGHT: 3px
}
.sx_3e0626 {
	BACKGROUND-POSITION: -31px -147px; WIDTH: 8px; HEIGHT: 14px
}
.selected .sx_3e0626 {
	BACKGROUND-POSITION: -23px -147px
}
.sx_2de441 {
	BACKGROUND-POSITION: -151px -200px; WIDTH: 7px; HEIGHT: 7px
}
.sx_6c7de3 {
	BACKGROUND-POSITION: 0px -200px
}
.sx_555895 {
	BACKGROUND-POSITION: -170px -183px
}
.sx_4fe2ce {
	BACKGROUND-POSITION: -180px -91px; WIDTH: 9px; HEIGHT: 14px
}
.selected .sx_4fe2ce {
	BACKGROUND-POSITION: -171px -91px
}
.sx_f58052 {
	BACKGROUND-POSITION: -153px -183px
}
.sx_5bdfb8 {
	BACKGROUND-POSITION: -136px -183px
}
.sx_428bf8 {
	BACKGROUND-POSITION: -119px -183px
}
.sx_7432b3 {
	BACKGROUND-POSITION: -85px -183px
}
.sx_ebd67e {
	BACKGROUND-POSITION: -68px -183px
}
.sx_83d190 {
	BACKGROUND-POSITION: -51px -183px
}
.sx_c2bcad {
	BACKGROUND-POSITION: -16px -217px; WIDTH: 13px
}
.sx_73ec59 {
	BACKGROUND-POSITION: -34px -183px
}
.sx_713c9f {
	BACKGROUND-POSITION: -17px -183px
}
.sx_56e8b6 {
	BACKGROUND-POSITION: 0px -183px
}
.sx_b6864d {
	BACKGROUND-POSITION: 0px -217px; WIDTH: 15px
}
.sx_3daf8a {
	BACKGROUND-POSITION: -174px -162px
}
.sx_b4d93c {
	BACKGROUND-POSITION: -18px -128px; WIDTH: 18px; HEIGHT: 18px
}
.sx_b4d93c:hover {
	BACKGROUND-POSITION: 0px -128px
}
.sx_32c14b {
	BACKGROUND-POSITION: -95px -147px; WIDTH: 10px; HEIGHT: 9px
}
.sx_549a6d {
	BACKGROUND-POSITION: -21px -162px; HEIGHT: 17px
}
.sx_eb5865 {
	BACKGROUND-POSITION: -119px -128px
}
.selected .sx_eb5865 {
	BACKGROUND-POSITION: -103px -128px
}
.sx_33c88a {
	BACKGROUND-POSITION: -38px -162px; HEIGHT: 17px
}
.sx_6aeff1 {
	BACKGROUND-POSITION: -89px -162px
}
.sx_d298f6 {
	BACKGROUND-POSITION: -11px -147px; WIDTH: 11px; HEIGHT: 14px
}
.selected .sx_d298f6 {
	BACKGROUND-POSITION: 0px -147px
}
.sx_22849a {
	BACKGROUND-POSITION: -72px -162px
}
.sx_16145c {
	BACKGROUND-POSITION: -106px -162px
}
.sx_b7a6e3 {
	BACKGROUND-POSITION: -136px -200px; WIDTH: 14px; HEIGHT: 14px
}
.sx_cd927a {
	BACKGROUND-POSITION: 0px -91px; WIDTH: 170px; HEIGHT: 36px
}
.sx_40fedc {
	BACKGROUND-POSITION: -123px -162px
}
.sx_3096df {
	BACKGROUND-POSITION: -140px -162px
}
.sx_1f9d23 {
	BACKGROUND-POSITION: -119px -200px; HEIGHT: 15px
}
.sx_5d0212 {
	BACKGROUND-POSITION: -83px -147px; WIDTH: 11px; HEIGHT: 9px
}
.sx_5de218 {
	BACKGROUND-POSITION: -148px -128px; WIDTH: 12px; HEIGHT: 14px
}
.selected .sx_5de218 {
	BACKGROUND-POSITION: -136px -128px
}
.sx_cab965 {
	BACKGROUND-POSITION: -40px -147px; HEIGHT: 14px
}
.sx_89e1fe {
	BACKGROUND-POSITION: -172px -128px; WIDTH: 11px; HEIGHT: 14px
}
.selected .sx_89e1fe {
	BACKGROUND-POSITION: -161px -128px
}
.sx_1dda26 {
	BACKGROUND-POSITION: -30px -217px; WIDTH: 10px
}
.sx_2b5e82 {
	BACKGROUND-POSITION: -86px -128px
}
.selected .sx_2b5e82 {
	BACKGROUND-POSITION: -70px -128px
}
.sx_0ef48c {
	BACKGROUND-POSITION: -53px -128px
}
.selected .sx_0ef48c {
	BACKGROUND-POSITION: -37px -128px
}
.sx_f00d16 {
	BACKGROUND-POSITION: -157px -162px
}
.sx_82f0ce {
	BACKGROUND-POSITION: -85px -200px; HEIGHT: 15px
}
#bootloader_css_sprite_autogen_aanaup_css {
	HEIGHT: 42px
}
